html, body {
  background-color: #ccccff;
  height: 100%;
}

div {
  position: relative;
  background-color: #7300e6;
  color: #ccccff;
  width: 100%;
  padding: 0.5em;
  left: -5px;
  font-size: 16px;
}

#header {
  color: #f2e6ff;
  position: relative;
  left: -6px;
  top: -5px;
}

#header img {
  float: right;
  padding-right: 50px;
}

#header h1 {
  text-align: left;
  padding-left: 20px;
}

#feedback {
  color: black;
}

#enter_name, #throw_choice, #game_results, #stats h2, #rules h2{
  margin-top: 20px;
  text-align: center;
}

#player_image {
  float: left;
  padding-left: 20em;
}

#browser_image {
  float: right;
  padding-right: 20em;
}

#show_rules_button, #show_stats_button {
  position: relative;
  left: -5px;
  background-color: #CCD5D9;
  color: black;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

footer {
  background-color: #efefef;
  text-align: center;
  height: 20px;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
  margin-top: 50px
}

.content {
  padding-left: 30px;
}

.hidden{
  display: none;
}

.visible{
  display:block;
}

.bad {
  color: red;
}

.good {
  color: green;
}
